extends layout

block content
  b
    .welcome
      p Welcome to my guestbook!

    .book
      span.page.turn
      span.page.turn
      span.page.turn
      span.page.turn
      span.page.turn
      span.page.turn
      span.cover
      span.page
      span.cover.turn

  a.enterbutton(href="/guestbook") enter
